/* Gör alla element till den storlek de faktiskt är. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Grid-layout för webbplatsens huvudelement. */
body {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr*4;
  grid-template-rows: 0.5fr 1.5fr 1.5fr 1fr;
  grid-template-areas:
  "header header header header"
  "main main main main"
  "main main main main"
  "footer footer footer footer"
  ;
}

header {
  /* Grid relaterat */
  grid-area: header;

  /* Färg relaterat */
  background-color: Black;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;

  color: white;
}

#navigation {
  font-size: 1.8rem;
}

#navigation a {
  padding-left: 1em;
  padding-right: 1em;

  /* text-decoration: none; gör att <a> elementen inte har standrad
  länk-styling, följande egenskaper ändra bas-stylingen. */
  text-decoration: none;
  /* Skaffa en fin font och uppdatera */
  font-family: fantasy;
  color: white;
}

#navigation a:hover {
  color: yellow;
}

main {
  /* Grid relaterat */
  grid-area: main;

  /* Färg relaterat */
  background-color: white;
}

footer {
  /* Grid relaterat */
  grid-area: footer;

  /* Flexbox relaterat */
  display: flex;
  justify-content: space-evenly;

  /* Färg relaterat */
  background-color: black;
  color: white;
}

footer h2 {
  border-bottom: solid 2px yellow;
  margin-bottom: 0.5em;
}

footer ul {
  /* Tar bort cirklarna innan varje list item. */
  list-style-type: none;
  padding: 0;
  margin: 0;
}
