/* Gör alla element till den storlek de faktiskt är. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

header {
  height: 10vh;

  /* Färg relaterat */
  background-color: Black;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;

  color: white;
}

#navigation {
  font-size: 1.8rem;
}

#navigation a {
  padding-left: 1em;
  padding-right: 1em;

  /* text-decoration: none; gör att <a> elementen inte har standrad
  länk-styling, följande egenskaper ändra bas-stylingen. */
  text-decoration: none;
  /* Skaffa en fin font och uppdatera */
  font-family: fantasy;
  color: white;
}

#navigation a:hover {
  color: yellow;
}

main {
  height: 90vh;
  overflow-y: auto;

  /* Färg relaterat */
  background-color: white;
}

#hero-section {
  position: relative;
  height: 80vh;
  width: 100%;
}

#hero-section img {
  height: 100%;
  width: 100%;
}

#hero-section div {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#hero {

  font-family: fantasy;
  font-size: 7em;
  color: white;
}

#meny {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 1em;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
  grid-template-areas:
  "meny-rubrik meny-rubrik"
  "förrätter förrätter"
  "huvudrätter dryck"
  "huvudrätter dessert"
  ;
  grid-gap: 1em;

  text-align: center;

  background-color: black;
  color: white;
}

#meny-rubrik {
  grid-area: meny-rubrik;
}

.menu-area {
  text-align: start;
  border-top: solid 0.2em white;
}

.menu-area h3 {
  text-align: center;
}

.menu-area ul {
  display: flex;
  flex-wrap: wrap;

  /* Tar bort cirklarna innan varje list item. */
  list-style-type: none;
}

.menu-item {
  padding: 1em;
}

#förrätter {
  grid-area: förrätter;
}

#förrätter .menu-item {
  width: 50%;
}

#huvudrätter {
  grid-area: huvudrätter;
}

#dessert {
  grid-area: dessert;
}

#dryck {
  grid-area: dryck;
}

#drink-list {
  display: flex;
  flex-direction: column;
}

#dryck .menu-item .alcohol-level {
  display: block;
  list-style-type: disc;
}

footer {
  width: 100%;
  margin-top: 1em;

  /* Flexbox relaterat */
  display: flex;
  justify-content: space-evenly;

  /* Färg relaterat */
  background-color: black;
  color: white;
}

footer h2 {
  border-bottom: solid 2px yellow;
  margin-bottom: 0.5em;
}

footer ul {
  /* Tar bort cirklarna innan varje list item. */
  list-style-type: none;
}
